body {
    font-family: 'Your Custom Font', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('bgimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

header {
    text-align: center;
    background: rgba(255, 0, 0, 0.8);
    color: #fff;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header:hover {
    background: rgba(255, 0, 0, 1);
}

.logo {
    max-width: 50px;
    margin-right: 10px;
}

nav {
    text-align: center;
    background: #ecf0f1;
    padding: 0.5em;
}

nav a:hover {
    color: #3c64e7;
    font-weight: bold;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

article:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

article h2 {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article p {
    color: #fafd35; 
}

footer {
    background: #503e2c;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form h2 {
    color: #fff;
}

.contact-form form {
    display: grid;
    gap: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: #333;
}

.contact-form button {
    background: #db3434;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background: #c0392b;
    transform: scale(1.1);
}
